<div class="header-style">
  <div class="scroll-text" data-0="bottom:-8rem; letter-spacing:.4rem; opacity:1;" data-50="bottom:-5rem; opacity:0;">↓
    SCROLL ↓</div>
  <video autoplay loop id="myVideo" loop="true" autoplay="autoplay">
    <!--  controls playsinline style="pointer-events: none;" -->
    <source src="/assets/video/video.mp4" type="video/mp4">
  </video>
</div>
<section id="wrapper">
  <div id="sidebar" style="height: auto; width: 224px;">
    <div class="logo">
      <img src="assets/video/ferrotone.jpg" width="224px;">
      <div class="menu-main-container">
        <ul class="menu">
          <button
            onclick="window.location.href='https://mail.google.com/mail/?view=cm&fs=1&to=reachferrotone@gmail.com&su=subject_here&body=body_here'"
            class="contact">C O N T A C T</button>
        </ul>

      </div>

    </div>
  </div>
  <div id="content">
    <div>
      <img src="assets/video/kathasangama.jpg" class="center" width="auto">
    </div>
    <div style="margin: 10px 10px 10px 0 ;">
      <h5>OUT NOW: MANASINA OLAGE</h5>
    </div>
    <button onclick="window.location.href='https://www.youtube.com/watch?v=z6mo7MJNKUI'" class="button button1">S T R E
      A M</button>


    <div>
      <img src="assets/video/mankutimma.jpg" class="center" width="auto">
    </div>
    <div style="margin: 10px 10px 10px 0 ;">
      <h5>OUT NOW: MANKUTIMMA</h5>
    </div>
    <button onclick="window.location.href='https://songwhip.com/ananyabhat/mankutimma'" class="button button1">S T R E A
      M</button>



    <div>
      <img src="assets/video/arishadvarga.jpg" class="center" width="auto">
    </div>
    <div style="margin: 10px 10px 10px 0 ;">
      <h5>OUT NOW: ARISHADVARGA JUKEBOX</h5>
    </div>
    <button onclick="window.location.href='https://songwhip.com/udithharitas/arishadvarga'" class="button button1">S T R
      E A M</button>
  </div>
</section>

<!-- <div class="header-style">
    <div class="scroll-text">scroll</div>
  <img class="header-image" width="100%" height="auto"  src="/assets/video/fe-gif.gif" alt="description of gif" />
</div>  -->
<router-outlet></router-outlet>